#pageGrid {
	display: grid;
	grid-template-areas: "header header"
	                     "welcome numItems"
	                     "gallery gallery";

	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
}

body {
	color: #24305E;
}

#header {
	grid-area: header;
	height: 50px;
}

#welcome {
	grid-area: welcome;
	font-size: 2em;
	margin: 0px;
	margin-right: 20%;
	text-align: right;
	vertical-align: middle;
	line-height: auto;
}

#numItems {
	grid-area: numItems;
	text-align: left;
	vertical-align: middle;
	line-height: auto;
	margin-left: 20%;
	font-size: 2em;
}

#gallery {
	grid-area: gallery;
	background-color: #F76C6C;
}

#galleryGrid {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: auto;
	grid-gap: 20px;
	font-weight: bold;
}

.itemTypeText {
	font-size: 1.5em;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #374785;
}

.galleryImage {
	border-bottom-width: 100%;
}

.donationData {
	vertical-align: middle;
	margin-top: auto;
	border-bottom-width: 100%;
}

.statusText {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

#gallery img {
	display: block;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 50%;
}

.w3-light-grey {
	width: 80%;
	text-align: center;
	margin: auto;
	margin-top: 3%;
}