html {
	text-align: center;
	color: white;
}

body {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

#welcome {
	margin: auto;
	margin-bottom: 5px;
	padding: 5px;
	width: 50%;
	background-color: #F76C6C;
	text-shadow: 1px 2px 2px #374785;
    border: 10px solid #F8E9A1;
    border-radius: 5px;
	box-shadow: 2px 2px 5px #374785;
    background-color: #F76C6C;
}

#welcome-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "text button";
}

#welcome-text {
	grid-area: text;
	text-align: center;
	font-size: 2em;
}

#donate-button {
	grid-area: button;
	margin: auto;
	vertical-align: middle;
}

#gallery {
	grid-area: gallery;
	width: 50%;
	margin: auto;
}

#galleryGrid {
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-template-rows: 150px;
	grid-gap: 5px;
	font-weight: bold;
	text-align: center;
	margin: auto;
}

.itemTypeText {
	font-size: 1.5em;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.donationData {
	text-shadow: 1px 2px 2px #374785;
	text-align: center;
	vertical-align: middle;
    border: 10px solid #F8E9A1;
    border-radius: 5px;
	padding: 5px;
	box-shadow: 2px 2px 5px #374785;
    background-color: #F76C6C;
}

.donationDataText {
	margin:auto;
	vertical-align: middle;
	justify-content: center;
}

.statusText {
	text-align: center;
	margin: auto;
}

#gallery img {
	width:100%;
    height:100%;
    float:right;
    grid-area: left;
    border: 10px solid #F8E9A1;
    border-radius: 5px;
	padding: 15px;
	box-shadow: 2px 2px 5px #374785;
    background-color: #F76C6C;

}

.complete {
	margin: auto;
	margin-top: 2%;
    color: green;
}

input {
     width: 200px;
     height: 50px;
     background-color: #374785;
     color: #f8e9a1;
     border-style: none;
     font-size: 20px;
     border-radius: 5px;
}

.pending {
	margin: auto;
	margin-top: 2%;
    color: yellow;
}

.incomplete {
	margin: auto;
	margin-top: 2%;
    color: red;
}
