.grid-wrapper {
  display: grid;
  grid-template-areas: "recent recent recent recent new new"
                       "recent recent recent recent new new"
                       "recent recent recent recent new new"
                       "recent recent recent recent login login"
                       "recent recent recent recent login login";

  /*grid-template-columns: repeat(3, 1fr);*/
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.recent-donations-wrapper {
  /*grid-column: 1/3;*/
  /*grid-row: 1/8;*/
  grid-area: recent;
  background-color: grey;
}

.new-acc-wrapper {
  /*grid-column: 3/4;*/
  /*grid-row: 1/4;*/
  grid-area: new;
  background-color: #f8e9a1;
};

.center-wrapper {
  position: relative;
  margin: auto;
}

.login-wrapper {
  /*grid-row: 4/5;*/
  /*grid-column: 3;*/
  grid-area: login;
  background-color: #f76c6c;
}

button {
  width: 200px;
  height: 50px;
  background-color: #374785;
  color: #f8e9a1;
  border-style: none;
}
