.grid-wrapper {
  display: grid;
  grid-template-areas: "recent recent recent recent recent new"
                       "recent recent recent recent recent new"
                       "recent recent recent recent recent new"
                       "recent recent recent recent recent login"
                       "recent recent recent recent recent login"
                       "recent recent recent recent recent ."
                       "recent recent recent recent recent .";

  /*grid-template-columns: repeat(3, 1fr);*/
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.recent-donations-wrapper {
  grid-area: recent;
  background-color: grey;
}

.new-acc-wrapper {
  grid-area: new;
  background-color: #f8e9a1;
  display: grid;
  grid-template-areas: ". title ."
                       ". btn_d ."
                       ". txt ."
                       ". btn_r .";
};

.new-acc-sub-wrapper {
  
}

.txt {
  grid-area: txt;
}

.ttl {
  grid-area: title;
}

#donate {
  grid-area: btn_d
}

#request{
  grid-area: btn_r
}

.center-wrapper {
  width: 200px;
  position: relative;
}

.login-wrapper {
  grid-area: login;
  background-color: #f76c6c;
}

h3 {
  width: 200px;
}

button {
  width: 200px;
  height: 50px;
  background-color: #374785;
  color: #f8e9a1;
  border-style: none;
}
