body {
  background-color: #a8d0e6;
  width: 90%;
  margin: auto;
}
@font-face {
  font-family: robotoCondensed;
  src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: robotoCondensed_light;
  src: url(../fonts/RobotoCondensed-Light.ttf);
}

@font-face {
  font-family: robotoCondensed_bold;
  src: url(../fonts/RobotoCondensed-Bold.ttf);
}

html {
  font-family: robotoCondensed;
}

input{
  font-family: robotoCondensed_light;
}

.center {
  margin: auto;
}

.title {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  color: #f76c6c;
  text-align: center;
  font-size: 50px;
}

nav {
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

.logo{
  font-family: robotoCondensed_bold;
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 5px 35px;
  text-decoration: none;
  background-color: none;
  color: white;
  font-size: 40px;
  text-shadow: 1px 4px 2px#374785;;
  float:left;
}

.logout {
  padding-right:15px;
}

ul {
    list-style-type: none;
    width: 100%;
    margin: auto;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 15px;
    border: 10px solid #374785;
    background-color: #F76C6C;
}

li {
    float: right;
    padding-left: 15px;
}

li a {
    font-family: robotoCondensed_bold;
    border-radius: 5px;
    display: block;
    color: white;
    font-size: 24px;
    text-shadow: 1px 2px 2px #374785;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    background-color: #F76C6C;
}

li a:hover:not(.active) {
  text-shadow: none;
  background-color: #e35858;
}
