<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MedSend</title>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>
 <!-- Nav Bar -->
 <nav>
  <ul>
     <li class="logo"><a class="logo active" href="/">Medsend</a></li>
     <li class="logout"><a href="/">Logout</a></li>
     <li><a href="/contact">Contact</a></li>
     <li><a href="/about">About</a></li>
   </ul>
  </nav>
  <p id="about">MedSend is a platform for people to donate medical equipment they no longer
     have use for to those who need it.</p>
</body>
