<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MedSend</title>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/donee.css') }}">
</head>
<body>
 <!-- Nav Bar -->
 <nav>
  <ul>
     <li class="logo"><a class="logo active" href="/">Medsend</a></li>
     <li class="logout"><a href="/">Logout</a></li>
     <li><a href="/contact">Contact</a></li>
     <li><a href="/about">About</a></li>
   </ul>
  </nav>

  <div id="welcome">
    <div id="welcome-grid">
      <div id="welcome-text">
        <p>Welcome, {{username}}!</p>
      </div>
      <div id="request-button">
        <form method="get" action='/request/{{userid}}'>
          <input type="submit" value="Request">
        </form>
      </div>
    </div>
  </div>
  <!-- <h1 class ="welcome"> Welcome, {{username}} </h1> -->
    {% for item in requests %}
    <div class="outergrid" >
    <div class="entry">
        {% if item.date_received %}
        <img src="../{{item.image}}" alt ="{{item.item_type}}" class="picture">
        <div class="name">
            <h2> {{ item['item_type'] }} </h2>
            <div class="complete" >
                    Request complete!
                </div>
                 {% else %}
                 <img src="../{{item.icon}}" alt ="{{item.item_type}}" class="picture">
                 <div class="name">
                     <h2> {{ item['item_type'] }} </h2>
                     <div class="incomplete" >
                         Request pending.
                         </div>
                 {% endif %}

        </div>
    </div>
    </div>
    {% endfor %}
</body>
</html>
