<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MedSend</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/donee.css') }}">
</head>
<body>
	<ul>
	  <li style="float:left" class="logo"><a class="logo" href="#home">Medsend</a></li>
	  <li style="padding-right:15px"><a class="active" href="#logout">Logout</a></li>
	  <li><a href="#contact">Contact</a></li>
	  <li><a href="#about">About</a></li>
	</ul>
    {% for item in requests %}
    <div class="outergrid" >
    <div class="entry">
        {% if data_received %}
        <img src="../{{item.image}}" alt ="{{item.item_type}}" class="picture">
        <div class="name">
            <h2> {{ item['item_type'] }} </h2>
            <span>[status]</span>
            <div class="progress" >
                <div class="complete" >
                    Request complete!
                 </div>
                 {% else %}
                 <img src="../{{item.icon}}" alt ="{{item.item_type}}" class="picture">
                 <div class="name">
                     <h2> {{ item['item_type'] }} </h2>
                     <span>[status]</span>
                     <div class="progress" >
                         <div class="complete" >
                             Request complete!
                         </div>
                         <div class="incomplete" >
                             Request pending.
                         </div>
                 {% endif %}
            </div>

        </div>
    </div>
    </div>
    {% endfor %}
</body>
</html>
