<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MedSend</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/donee_profile.css') }}">
</head>
<body>
	<ul>
		<li style="float:left"class="logo"><a class="logo" href="#home">Medsend</a></li>
	  <li style="padding-right:15px"><a class="active" href="#logout">Logout</a></li>
	  <li><a href="#contact">Contact</a></li>
	  <li><a href="#about">About</a></li>
	</ul>
    {% for item in user.requested2 %}
    <div class="outergrid" >
    <div class="entry">
        <img src="{{item['image']}}" alt ="item['name']" class="picture" >
        <div class="name">
            <h2> {{ item['name'] }} </h2>
            <span>[status]</span>
            <div class="progress" >
                {% for n in range(0,6) %}
                    {% if n <= status %}
                <div class="complete" >
                    {{ progression[n] }}
                 </div>
                 {% else %}
                 <div class="incomplete" >
                    {{ progression[n] }}
                 </div>
                 {% endif %}
                 {% endfor %}
            </div>

        </div>
    </div>
    </div>
    {% endfor %}
</body>
</html>
