<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MedSend</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{
  url_for('static', filename='css/donor.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}">
  <!-- w3schools css for Progress Bar -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
</head>

<body>
	<div id="pageGrid">
		<div id="header">
			<h1 class="title">{{title}}</h1>
		</div>
  	<div id="welcome">
	  	<p>Welcome, {{user.firstName}}</p>
  	</div>
  	<div id="numItems">
			<p id="numItemsText">
  	  	{{user.numDonations}} Items Donated
  		</p>
  	</div>
  	<div id="gallery">
  		<div id="galleryGrid">
    		{% for item in items %}
    			<div class="galleryImage">
    				<img src="{{item.fileName}}" alt="{{item.itemType}}" />
    			</div>
    			<div class="donationData">
    				<p class="itemTypeText">{{item.itemType}}</p>
	  				{% if item.status == 1 %}
	  					<div class="w3-light-grey w3-round-xlarge">
								<div class="w3-blue w3-round-xlarge" style="height:15px;width:33%"></div>
	  					</div>
	  					<p class="statusText">
	  						Awaiting Dropoff
	  					</p>
	  				{% elif item.status == 2 %}
	  					<div class="w3-light-grey w3-round-xlarge">
								<div class="w3-container w3-blue w3-round-xlarge" style="height:15px;width:67%"></div>
							</div>
							<p class="statusText">
								Waiting for a Recipient
  						</p>
	  				{% else %}
	  					<div class="w3-light-grey w3-round-xlarge">
								<div class="w3-blue w3-round-xlarge" style="height:15px;width:100%"></div>
							</div>
	  					<p class="statusText">
								Successfully Donated
	 						</p>
	 					{% endif %}
   				</div> 
    		{% endfor %}
    	</div>
  	</div>
	</div>
</body>
</html>