<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MedSend</title>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <h1 class="title">MedSend</h1>
  <div class=grid-wrapper>
    <div class="recent-donations-wrapper">
    {% for donation in donations %}
      <div class="donation-grid-wrapper">
        <img class="item-img" src={{donation.img}} alt="image goes here">
        <h2 class="descr">{{donation.item}} were donated in {{donation.location}}</h2>
      </div>
    {% endfor %}
    </div>

    <div class="new-acc-grid-wrapper">
      <h2 class="ttl">Do you want to</h2>
      <button id="donate">Donate an Item</button>
      <h2 id="or">or</h2>
      <button id="request">Request an Item</button>
    </div>

    <div class="login-grid-wrapper">
      <h2 class="lgn_title">Already a member?</h2>
      <button class="lgn_btn">Login</button>
    </div>
  </div>
</body>
</html>
