<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MedSend</title>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
 <!-- Nav Bar -->
 <nav>
  <ul>
     <li class="logo"><a class="logo active" href="/">Medsend</a></li>
     <li class="logout"><a href="/">Logout</a></li>
     <li><a href="/contact">Contact</a></li>
     <li><a href="/about">About</a></li>
   </ul>
  </nav>

  <!-- Grid Content -->
  <div class=grid-wrapper>
    <div class="recent-donations-wrapper">
    {% for donation in donations %}
      <div class="donation-grid-wrapper">
        <img class="item-img" src={{donation.image}} alt="image goes here">
        {% if donation.item_type[donation.item_type|length-1] == 's' %}
          <h2 class="descr">{{donation.item_type}} were distributed on {{donation.date_distributed}}</h2>
        {% else %}
          <h2 class="descr">{{donation.item_type}} was distributed on {{donation.date_distributed}}</h2>
        {% endif %}
      </div>
    {% endfor %}
    </div>

    <form action="/new_account" method="get">
      <div class="new-acc-grid-wrapper">
        <h2 class="ttl">Do you want to</h2>
        <input id="donate" class='button' type='submit' href='/new_account' value='Donate an Item'>
        <h2 id="or">or</h2>
        <input id="request" class='button' type='submit' href='/new_account' value='Request an Item'>
      </div>
    </form>

    <form action="/login" method="post">
      <div class="login-grid-wrapper">
        <h2 class="lgn_title">Already a member?</h2>
        <input id="username" type="text" name="username" placeholder="Username">
        <input id="password" type="password" name="password" placeholder="Password">
        <input id="lgn_btn"  type="submit" value="Login">
      </div>
    </form>

  </div>
</body>
</html>
