<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MedSend</title>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <h1 class="title">MedSend</h1>
  <div class=grid-wrapper>
    <div class="recent-donations-wrapper">
    {% for donation in donations %}
      <div class="donation-grid-wrapper">
        <img class="item-img" src={{donation.image}} alt="image goes here">
        {% if donation.item_type[donation.item_type|length-1] == 's' %}
          <h2 class="descr">{{donation.item_type}} were distributed on {{donation.date_distributed}}</h2>
        {% else %}
          <h2 class="descr">{{donation.item_type}} was distributed on {{donation.date_distributed}}</h2>
        {% endif %}
      </div>
    {% endfor %}
    </div>

    <div class="new-acc-grid-wrapper">
      <h2 class="ttl">Do you want to</h2>
      <button id="donate">Donate an Item</button>
      <h2 id="or">or</h2>
      <button id="request">Request an Item</button>
    </div>

    <div class="login-grid-wrapper">
      <h2 class="lgn_title">Already a member?</h2>
      <input id="username" type="text" name="" id="">
      <input id="password" type="password" name="" id="">
      <input type="button" class="lgn_btn" value="Login"></button>
    </div>
  </div>
</body>
</html>
