<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MedSend</title>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/new_account.css') }}">
</head>
<body>
 <!-- Nav Bar -->
  <nav>
    <ul>
      <li class="logo"><a class="logo active" href="/">Medsend</a></li>
      <li class="logout"><a href="/">Logout</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>

  <form action="/new_account" method="post">
    <div class="grid-wrapper">
      <input type="text"     id="username"   placeholder="Username" name="username" value="">
      <input type="password" id="password"   placeholder="Password" name="password" value="">
      <input type="password" id="password2"  placeholder="Retype Password" name="password2" value="">
      <div id="donor">
        <input type="radio" id="donor" value="donor" name="type">
        <p>Donate</p>
      </div>
      <div id="organization">
        <input type="radio" id="donor" value="organization" name="type">
        <p>Organization</p>
      </div>
      <div id="donee">
        <input type="radio" id="donee" value="donee" name="type">
        <p>Request</p>
      </div>
      <input type="submit" id="register" value="Register">
    </div>
  </form>
</body>
