<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MedSend</title>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/organization.css') }}">
</head>
<body>
    <!-- Nav Bar -->
    <nav>
        <ul>
            <li class="logo"><a class="logo active" href="/">MEDSEND</a></li>
            <li class="logout"><a href="/">Logout</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>

    <!-- <h1 class="welcome"> Thanks to {{username}}, we have recently received:</h1> -->
    <div id="welcome">
      <div id="welcome-grid">
        <div id="welcome-text">
          <p> Thanks to {{username}}, we have recently received:</p>
        </div>
        <div id="donate-button">
          <form method="get" action='/donate/{{userid}}'>
            <input type="submit" value="Donate">
          </form>
        </div>
      </div>
    </div>
    {% for item in donations %}
    <div class="outergrid" >
        <div class="entry">
            <img src="../{{item.image}}" alt ="{{item.item_type}}" class="picture">
            <div class="name">
                {% if item == 'crutches' %}
                <h2> {{item.item_type}} set{% if item.amount > 1 %}s{%endif%} of crutches </h2>
                {%else%}
                <h2> {{item.amount}} {{item.item_type}}{% if item.amount > 1 %}s{%endif%} </h2>
                <h2> On {{item.date_donated}} </h2>
            </div>
                {% endif %}
        </div>
    </div>
    {% endfor %}
</body>
</html>
